<a href="https://colab.research.google.com/github/Muh-Ayyub/Advanced-Mathmatics-Using-Google-colab/blob/main/Machine_Learning_Coursework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [21]:
# Read the csv in its proper format using seperator ";"
df = pd.read_csv("bank-full.csv", sep = ";")

In [22]:
df.head(10) # Gain some idea about the dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [23]:
df.shape # Find out the total number of rows and columns

(45211, 17)

In [24]:
df.info() # Check summarized information of each attribute (column)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [25]:
df.describe() # Investigate Statistical results of the dataset

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [30]:
df.isnull().sum() # As you can see there are no missing values in the dataset

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [28]:
for i in df:
  print(df[i].value_counts())
  print(" ")

age
32    2085
31    1996
33    1972
34    1930
35    1894
      ...
93       2
90       2
95       2
88       2
94       1
Name: count, Length: 77, dtype: int64

job
blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: count, dtype: int64

marital
married     27214
single      12790
divorced     5207
Name: count, dtype: int64

education
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: count, dtype: int64

default
no     44396
yes      815
Name: count, dtype: int64

balance
 0        3514
 1         195
 2         156
 4         139
 3         134
          ...
-381         1
 4617        1
 20584       1
 4358        1
 16353       1
Name: count, Length: 7168, dtype: int64

housing
yes    25130
no     20081
Name: count, dtype: int64

loan
no     37967
yes     7244
Name: count, dtype: int64

contact
cellular     29285
unknown      13020
telephone     2906
Name: count, dtype: int64

day
20    2752
18    2308
21    2026
17    1939
6     1932
5     1910
14    1848
8     1842
28    1830
7     1817
19    1757
29    1745
15    1703
12    1603
13    1585
30    1566
9     1561
11    1479
4     1445
16    1415
2     1293
27    1121
3     1079
26    1035
23     939
22     905
25     840
31     643
10     524
24     447
1      322
Name: count, dtype: int64

month
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: count, dtype: int64

duration
124     188
90      184
89      177
104     175
122     175
       ...
1833      1
1545      1
1352      1
1342      1
1556      1
Name: count, Length: 1573, dtype: int64

campaign
1     17544
2     12505
3      5521
4      3522
5      1764
6      1291
7       735
8       540
9       327
10      266
11      201
12      155
13      133
14       93
15       84
16       79
17       69
18       51
19       44
20       43
21       35
22       23
25       22
23       22
24       20
29       16
28       16
26       13
31       12
27       10
32        9
30        8
33        6
34        5
36        4
35        4
43        3
38        3
37        2
50        2
41        2
46        1
58        1
55        1
63        1
51        1
39        1
44        1
Name: count, dtype: int64

pdays
-1      36954
 182      167
 92       147
 91       126
 183      126
        ...
 449        1
 452        1
 648        1
 595        1
 530        1
Name: count, Length: 559, dtype: int64

previous
0      36954
1       2772
2       2106
3       1142
4        714
5        459
6        277
7        205
8        129
9         92
10        67
11        65
12        44
13        38
15        20
14        19
17        15
16        13
19        11
20         8
23         8
18         6
22         6
24         5
27         5
21         4
29         4
25         4
30         3
38         2
37         2
26         2
28         2
51         1
275        1
58         1
32         1
40         1
55         1
35         1
41         1
Name: count, dtype: int64

poutcome
unknown    36959
failure     4901
other       1840
success     1511
Name: count, dtype: int64

y
no     39922
yes     5289
Name: count, dtype: int64

In [31]:
#Drop the columns that contain too many unknown values, which is accounted for as nan values too.
df.replace("unknown",np.nan,inplace=True)
df.drop(columns=["contact", "poutcome"],inplace=True)
df

,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,pdays,previous,y
0,58,management,married,tertiary,no,2143,yes,no,5,may,261,1,-1,0,no
1,44,technician,single,secondary,no,29,yes,no,5,may,151,1,-1,0,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,5,may,76,1,-1,0,no
3,47,blue-collar,married,NaN,no,1506,yes,no,5,may,92,1,-1,0,no
4,33,NaN,single,NaN,no,1,no,no,5,may,198,1,-1,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,17,nov,977,3,-1,0,yes
45207,71,retired,divorced,primary,no,1729,no,no,17,nov,456,2,-1,0,yes
45208,72,retired,married,secondary,no,5715,no,no,17,nov,1127,5,184,3,yes
45209,57,blue-collar,married,secondary,no,668,no,no,17,nov,508,4,-1,0,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,17,nov,361,2,188,11,no

In [32]:
#Drop duration column as according to the meta data of the dataset it highly affects output target variable y.
df.drop(columns = ["duration"], inplace = True)
df

,age,job,marital,education,default,balance,housing,loan,day,month,campaign,pdays,previous,y
0,58,management,married,tertiary,no,2143,yes,no,5,may,1,-1,0,no
1,44,technician,single,secondary,no,29,yes,no,5,may,1,-1,0,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,5,may,1,-1,0,no
3,47,blue-collar,married,NaN,no,1506,yes,no,5,may,1,-1,0,no
4,33,NaN,single,NaN,no,1,no,no,5,may,1,-1,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,17,nov,3,-1,0,yes
45207,71,retired,divorced,primary,no,1729,no,no,17,nov,2,-1,0,yes
45208,72,retired,married,secondary,no,5715,no,no,17,nov,5,184,3,yes
45209,57,blue-collar,married,secondary,no,668,no,no,17,nov,4,-1,0,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,17,nov,2,188,11,no

In [33]:
# Check for any duplicates
duplicates = df[df.duplicated()]
print("Duplicate Rows:")
print(duplicates)

Duplicate Rows:
       age          job  marital  education default  balance housing loan  \
2871    44     services   single  secondary      no        0     yes   no
4910    34   management   single   tertiary      no        0     yes   no
12939   25  blue-collar  married    primary      no        0      no   no
13576   47     services  married  secondary      no        0     yes   no
13662   47     services  married  secondary      no        0     yes   no
15836   35   management  married   tertiary      no        0     yes   no
16664   45  blue-collar  married    primary      no        0     yes   no
19829   47   management  married  secondary      no        7      no   no
21522   47   technician  married  secondary      no        0      no   no
22157   31   management   single   tertiary      no        0      no   no
22210   32   technician   single   tertiary      no        0      no   no
22233   34   management   single   tertiary      no        0      no   no
22418   30   technician   single   tertiary      no        0      no   no
22445   32   management   single   tertiary      no        0      no   no
22560   59      retired  married    primary      no        0      no   no
22577   30   technician   single   tertiary      no        0      no   no
23057   47  blue-collar  married    primary      no        0      no   no
23542   33   management   single   tertiary      no        0      no   no
23869   32   management   single   tertiary      no        0      no   no
35640   43  blue-collar  married  secondary      no        0     yes   no
35975   38  blue-collar  married    primary      no        0     yes   no

       day month  campaign  pdays  previous   y
2871    14   may         1     -1         0  no
4910    21   may         1     -1         0  no
12939    7   jul         1     -1         0  no
13576    9   jul         1     -1         0  no
13662    9   jul         1     -1         0  no
15836   21   jul         3     -1         0  no
16664   24   jul         1     -1         0  no
19829    8   aug         2     -1         0  no
21522   19   aug         2     -1         0  no
22157   21   aug         2     -1         0  no
22210   21   aug         2     -1         0  no
22233   21   aug         2     -1         0  no
22418   22   aug         2     -1         0  no
22445   22   aug         2     -1         0  no
22560   22   aug         1     -1         0  no
22577   22   aug         2     -1         0  no
23057   26   aug         4     -1         0  no
23542   28   aug        10     -1         0  no
23869   29   aug         2     -1         0  no
35640    8   may         1     -1         0  no
35975    8   may         2     -1         0  no

In [34]:
# Drop duplicates

df.drop_duplicates(inplace=True)